
<h2><%=title%></h2>
<div class="content">
	<form name="form" class="form-horizontal">
	  <div class="control-group" ng-class="{true:'error'}[form.name.$error.required]">
	    <label class="control-label" for="name">Name</label>
	    <div class="controls">
	      <input type="text" id="name" name="name" ng-model="item.name" required />
	        <div class="help-block">
	       <span ng-show="form.name.$error.required">Tell me your name.</span>
	   </div>
	    </div>
	  </div>

	   <div class="control-group" ng-class="{true:'error'}[form.price.$error.required || form.price.$error.number || form.price.$error.min || form.price.$error.pattern]">
	    <label class="control-label" for="price">Price</label>
	    <div class="controls">
	      <input type="number" id="price" name="price" ng-model="item.price" min="0" ng-pattern="/^\d+((\.\d{0,2})?)$/" required/>
	        <div class="help-block">
	       <span  ng-show="form.price.$error.required">Tell me price.</span>
	       <span  ng-show="form.price.$error.number">Must be number.</span>
	       <span  ng-show="form.price.$error.min">Must be >= 0.</span>
	       <span  ng-show="form.price.$error.pattern">Must be two float.</span>
	   </div>
	    </div>
	  </div>
	   <div class="control-group" ng-class="{true:'error'}[form.amount.$error.required || form.amount.$error.number || form.amount.$error.min || form.amount.$error.pattern]">
	    <label class="control-label" for="amount">Amount</label>
	    <div class="controls">
	      <input type="number" id="amount" name="amount" ng-model="item.amount" min="0" ng-pattern="/^\d+$/" required/>
	        <div class="help-block">
	       <span ng-show="form.amount.$error.required">Tell me amount.</span>
	       <span  ng-show="form.amount.$error.number">Must be number.</span>
	       <span  ng-show="form.amount.$error.min">Must be >= 0.</span>
	        <span  ng-show="form.amount.$error.pattern">Must be int.</span>
	   </div>
	    </div>
	  </div>
	  <div style="margin-left:160px;">
		<button class="btn btn-primary" ng-disabled="form.$invalid || !form.$dirty" type="button" ng-click="save();">Save</button>
		<a class="btn btn-primary" href="#items">Cancel</a>
	  </div>
	</form>
</div>